*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    color: #333;
    background-color: #FFF;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    font-family: Marcellus;

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.image-box {
    width: 165px;
}

.header-container{
    background-color:#BA9263;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;

}

.footer{
    background-color:#BA9263;
    color: #FFF;
    display: flex;
    text-align: center;
    padding: 1rem;
}

.footer-logo{
  display: block;
  margin: 0 auto;
  height: auto;

}

.top-bar {
    text-align: left;
    padding-left: 1rem;
}

.top-bar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    /* border-bottom: 3px solid #BA9263; */
    display: inline-block;
    position: relative;
}

h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 30%;
    height: 5px;
    background-color: #BA9263;
  

}

h3 {
    display: inline-block;
    position: relative;
}

h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 10%;
    height: 5px;
    background-color: #BA9263;
   

}

h5{
    display: inline-block;
    position: relative;

}

h5::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 10%;
    height: 5px;
    background-color: #BA9263;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    margin-left: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-card {
    background-color: #EDEDED;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 12px 9px 22px -8px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.form-divider {
  height: 0.5rem;
  background-color: white;
  border: none;
  opacity: 1 !important;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin: 2rem, 0;
  
}

.checkin{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.checkout{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}



.confirm-button {
    display: block;
    width: 100%;
    margin-top: 1rem;/* top auto bottom auto = centered */
    padding: 0.75rem 2rem;
    background-color: #BA9263;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    box-shadow: 12px 9px 22px -8px rgba(0, 0, 0, 0.16);
}

.sticky-wrapper {
  position: sticky;
  top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.confirm-button:hover {
  background-color: #a3774e;
}

@media (max-width: 991.98px) {
  .summary-card, .confirm-button {
    position: static;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;

  }
}

/* Base transition */
#card-field,
#pix-field,
#boleto-field {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

/* Active visible state */
.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
  pointer-events: auto !important;
  height: auto !important;
  overflow: visible !important;
}
